In [150]:
import pandas as pd

demographics = pd.read_csv("demographics.csv", index_col="suburb", thousands=",")
demographics.income = demographics.income.apply(lambda x: int(x.replace("$", "").replace(",", "")))
sales = pd.read_csv("sale_data.csv")

sales = sales[sales.type.apply(lambda x: True if ("Single" in str(x)) | (str(x) == "Residence") else False)]
sales = sales[["suburb", "year", "price"]]
sales.price = sales.price.apply(lambda x: x.replace(",", "").replace("$", ""))
sales = sales[sales.price.apply(lambda x: (x.isnumeric()) & (x != "0"))]
sales.price = sales.price.astype("int")

for suburb in demographics.index:
    data_2007 = sales[(sales.suburb == suburb) & (sales.year == 2007)]
    data_2020 = sales[(sales.suburb == suburb) & (sales.year == 2020)]
    demographics.loc[suburb, "house_price_2007"] = data_2007.price.median()
    demographics.loc[suburb, "house_price_2020"] = data_2020.price.median()

demographics.dropna(inplace=True)
demographics["pop_growth"] = demographics["pop_now"] / demographics["pop_before"] - 1
demographics["price_growth"] = demographics["house_price_2020"] / demographics["house_price_2007"] - 1
demographics.columns = ["state", "household_income", "population_2006", "population_2016", "house_price_2007", "house_price_2020", "population_growth", "house_price_growth"]
demographics.to_csv("forgotten_suburbs.csv")

In [148]:
demographics

,state,income,pop_before,pop_now,house_price_2007,house_price_2020,pop_growth,price_growth
suburb,,,,,,,,
Ainslie,ACT,2027,4815,5189,545750.0,1200000.0,0.077674,1.198809
Amaroo,ACT,2456,5502,5710,440000.0,756500.0,0.037804,0.719318
Aranda,ACT,2414,2412,2393,537000.0,935000.0,-0.007877,0.741155
Banks,ACT,2148,4907,4967,448750.0,650000.0,0.012227,0.448468
Barton,ACT,2356,940,1439,1265000.0,1860000.0,0.530851,0.470356
...,...,...,...,...,...,...,...,...
Waramanga,ACT,1875,2535,2629,425000.0,710000.0,0.037081,0.670588
Watson,ACT,1962,4188,5862,440000.0,746790.0,0.399713,0.697250
Weetangera,ACT,2699,2544,2576,545500.0,1085500.0,0.012579,0.989918
Weston,ACT,2096,3176,3576,465000.0,716000.0,0.125945,0.539785
Yarralumla,ACT,2579,2907,2890,897500.0,1500000.0,-0.005848,0.671309